@media (min-width:  1024px) {

html {
  position: relative;
  min-height: 100%;
}

.bd{
  background-color: #fafbfb;
}

#progress-bar{
  position: fixed;
  top: 0;
  left: 0;
  height: 8px;
  width: 0%;
  background: #e67e22;
  z-index: 1000;
  transition: 0.3s;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid_1{
    grid-column: 1 / 4;
    grid-row: 1;
    padding-bottom: 45px;
    background-color: #fafbfb;
}

.auteur{
  margin: auto;
  display: flex;
  justify-content: flex-start;
  color: white;;
  font-size: 1.5em;
  letter-spacing: .015em;
  font-style: italic;
}
 
.grid_3{
    height: 200px;
    grid-column: 1 / 4;
    grid-row: 3;
    overflow: hidden;
}


.grid_3 img{
  width: 100%;
  height: 100%;
}


.titre{
  font-size: 42px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
  margin-left: 1rem;
  color: black;
  justify-content: flex-start;
  letter-spacing: .015em;
}

.grid_4{
    background-color: #fafbfb;
    width: 100%;
    padding: 20px;
    grid-column: 1 / 3;
    grid-row: 4;
    float: left;
}

.taille{
  font-size: 1.5em;
}


.grid_4 p{
  font-size: 1.3em;
}

.grid_4 a{
  color: #252525;
}


.grid_4 h1{
  color: #e67e22; 
  font-size: 40px;
}

.grid_4 p a {
  color: inherit;
  text-decoration: underline;
}

.grid_5{
  
    background-color: #fafbfb;
    padding: 20px;

    font-size: 30px;
    text-align: center;
    grid-column: 3 / 4;
    grid-row: 4;
}


.parag_1{
  font-size: 0.6em;
}

.card-body {
  font-size: 0.6em;
  justify-content: center;
  align-items: center;
}

.bord{
  box-shadow: 0px 0px 15px 0.1px rgba(119, 119, 119, 0.75);
-moz-box-shadow: 0px 0px 15px 0.1px rgba(119, 119, 119, 0.75);
-webkit-box-shadow: 0px 0px 15px 0.1px rgba(119, 119, 119, 0.75);
}

.ombre :hover {
  color: #e67e22;
}


.taille{
  font-size: 1.5em;
}

#question{
  font-size: 0.4em;
}

.grid_6{
  font-size: 25px;
  grid-column: 1 / 4;
  grid-row: 5;
}

.row {
  margin-right: auto;
  margin-left: auto;

  padding-top: 30px;
  padding-bottom: 30px;

  display: flex;

  height: auto;
  background-color: #252525;
  text-transform: uppercase;
  color: #FFFFFF;
}

.col{
text-align: center;
font-size: 0.75em;
}

.grid_6 ul li {
list-style-type: none;
font-size: 0.75em;
}

.separation{
border-right: 1.4px dashed white;
}

.grid_6 li a{
color: white;
font-size: 0.75em;
}

.centrer{
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.googlemap{
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.outils{
font-size: 15px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

a > i{
  color: #FFFFFF;
}

.basPage{
color: #FFFFFF;
background-color: #252525; 
font-size: 0.5em;; 
margin-bottom: 0%;  
}

div footer{
text-align: center;
color: #252525;
font-size: 15px;
}

#back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display:none;
  background-color: #e67e22;
  border: 2px dashed #e67e22;
  border-style: outset;
}

 
.darkmode-layer, .darkmode-toggle {
  z-index: 99999999999;
  top: 0% !important;
  right: 0% !important;
  left: unset !important;
  position: absolute  !important;
}

}

@media (min-width: 320px) and (max-width: 1024px) {
  
html {
  position: relative;
  min-height: 100%;
}

.bd{
  background-color: #fafbfb;
}

#progress-bar{
  position: fixed;
  top: 0;
  left: 0;
  height: 8px;
  width: 0%;
  background: #e67e22;
  z-index: 1000;
  transition: 0.3s;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid_1{
    grid-column: 1 / 4;
    grid-row: 1;
    padding-bottom: 45px;
    background-color: #fafbfb;
}

.auteur{
  margin: auto;
  display: flex;
  justify-content: flex-start;
  color: white;;
  font-size: 1.5em;
  letter-spacing: .015em;
  font-style: italic;
}
 
.grid_3{
    height: 200px;
    grid-column: 1 / 4;
    grid-row: 3;
    overflow: hidden;
}


.grid_3 img{
  width: 100%;
  height: 100%;
}


.titre{
  font-size: 42px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
  margin-left: 1rem;
  color: black;
  justify-content: flex-start;
  letter-spacing: .015em;
}

.grid_4{
    background-color: #fafbfb;
    width: 100%;
    padding: 20px;
    grid-column: 1 / 3;
    grid-row: 4;
    float: left;
}

.taille{
  font-size: 1.5em;
}


.grid_4 p{
  font-size: 1.3em;
}

.grid_4 a{
  color: #252525;
}


.grid_4 h1{
  color: #e67e22; 
  font-size: 40px;
}

.grid_4 p a {
  color: inherit;
  text-decoration: underline;
}

.grid_5{
  
    background-color: #fafbfb;
    padding: 20px;

    font-size: 30px;
    text-align: center;
    grid-column: 3 / 4;
    grid-row: 4;
}


.parag_1{
  font-size: 0.6em;
}

.card-body {
  font-size: 0.6em;
  justify-content: center;
  align-items: center;
}

.bord{
  box-shadow: 0px 0px 15px 0.1px rgba(119, 119, 119, 0.75);
-moz-box-shadow: 0px 0px 15px 0.1px rgba(119, 119, 119, 0.75);
-webkit-box-shadow: 0px 0px 15px 0.1px rgba(119, 119, 119, 0.75);
}

.ombre :hover {
  color: #e67e22;
}


#question{
  font-size: 0.4em;
}
   
  .grid_6{
    font-size: 25px;
    grid-column: 1 / 4;
    grid-row: 5;
  }
  
  .row {
    margin-right: auto;
    margin-left: auto;
  
    padding-top: 40px;
    padding-bottom: 40px;
  
    display: flex;
  
    height: auto;
    background-color: #252525;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  
  .col{
  text-align: center;
  font-size: 0.55em;
  }
  
  .grid_6 ul li {
  list-style-type: none;
  font-size: 1.75rem;
  }
  
  .separation{
    border-right: unset;
  }
  
  .grid_6 li a{
  color: white;
  font-size: 0.75em;
  }
  
  .centrer{
    display: flex;
    justify-content: center;
    align-items: center;
  }
    
  .googlemap{
  width: 100%;
  height: 100%;
  max-height: 700px;
  max-width: 400px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .outils{
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  a > i{
    color: #FFFFFF;
  }
  
  .basPage{
  color: #FFFFFF;
  background-color: #252525; 
  font-size: 0.5em;; 
  margin-bottom: 0%;  
  }
  
  div footer{
  text-align: center;
  color: #252525;
  font-size: 15px;
  }
  
  #back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 2px;
    right: 2px;
    display:none;
    background-color: #e67e22;
    border: 2px dashed #e67e22;
    border-style: outset;
  }

   
.darkmode-layer, .darkmode-toggle {
  z-index: 99999999999;
  top: 0% !important;
  right: 0% !important;
  left: unset !important;
  position: absolute  !important;
}
}